/* GLOBAL-STYLE */

@import url(../css/fonts.css);

:root {
    --HankerGrotesk: "Hanken_Grotesk";
    --Red: #F55;
    --Yellow: #FFB21E;
    --Green: #00BB8F;
    --Blue: #1125D6;
    --Dark-Navy: #303B59;
    --Dark-Navy: #303B59;
    --Light-Blue: #CAC9FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

/* GLOBAL-STYLE */

/* YOUR-RESULT-SUMMARY */


/* //YOUR-RESULT-SUMMARY */